body {
  margin: 0;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* CONTENEDOR */
.container {
  background: #ffffff;
  padding: 30px;
  border-radius: 25px;
  text-align: center;
  width: 90%;
  max-width: 400px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

/* TITULO */
h1 {
  color: #ff6f61;
  margin-bottom: 10px;
}

/* BOTÓN */
.btn {
  padding: 12px 25px;
  border: none;
  border-radius: 30px;
  background: #ffcc00;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 16px;

  transition: 0.3s;
}

.btn:hover {
  background: #ffaa00;
  transform: scale(1.1);
}

input {
  margin-top: 10px;
  padding: 12px;
  border-radius: 20px;
  border: 3px solid #c6d631;
  text-align: center;
  font-size: 16px;
  width: 80%;

  background: #fff7cc;
  font-weight: bold;
}

/* TABLA */
.tabla {
  margin-top: 15px;
}

.fila {
  animation: aparecer 0.3s ease;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fila:hover {
  background: #ffd166;
  transform: scale(1.05);
}

/* FOOTER */
.footer {
  margin-top: 15px;
  font-size: 12px;
  color: #888;
}

button {
  margin-top: 10px;
}

/* RESPONSIVE */
@media (max-width: 500px) {
  .fila {
    font-size: 16px;
  }
}